@font-face {
    font-family: "iconfont"; /* Project id 783393 */
    src: url('./iconfont.woff2') format('woff2'),
         url('./iconfont.woff') format('woff'),
         url('./iconfont.ttf') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-dakaidaping:before {
    content: "\e642";
  }
  
  .icon-dian:before {
    content: "\e61b";
  }
  
  .icon-huizong:before {
    content: "\e63b";
  }
  
  .icon-nibianqifadianliangbaobiao:before {
    content: "\e61a";
  }
  
  .icon-yunying:before {
    content: "\ebf8";
  }
  
  .icon-fuwu-yunying-fuwuneirong:before {
    content: "\e70c";
  }
  
  .icon-fuwupingjiabaobiaohuizongkuaijie:before {
    content: "\e606";
  }
  
  .icon-chongdianjilu1:before {
    content: "\e683";
  }
  
  .icon-evaluate-1-copy:before {
    content: "\e613";
  }
  
  .icon-guize:before {
    content: "\e616";
  }
  
  .icon-renwuguanli:before {
    content: "\e62b";
  }
  
  .icon-zu8274:before {
    content: "\e618";
  }
  
  .icon-dianchi:before {
    content: "\e60e";
  }
  
  .icon-dianchijiankangicon:before {
    content: "\e60f";
  }
  
  .icon-dianchi1:before {
    content: "\e612";
  }
  
  .icon-arrow-right-double-copy:before {
    content: "\ed73";
  }
  
  .icon-daoru:before {
    content: "\e7f6";
  }
  
  .icon-arrow-right-double:before {
    content: "\e608";
  }
  
  .icon-fanhui:before {
    content: "\e60c";
  }
  
  .icon-fanhui-copy:before {
    content: "\ed72";
  }
  
  .icon-cheliangweixiutongji:before {
    content: "\e641";
  }
  
  .icon-charging_pile_maintenance:before {
    content: "\e749";
  }
  
  .icon-biiconcopy-:before {
    content: "\e614";
  }
  
  .icon-gerenzhongxinkaobei:before {
    content: "\e604";
  }
  
  .icon-zaixianyonghu:before {
    content: "\e96e";
  }
  
  .icon-fuwujiankong:before {
    content: "\e733";
  }
  
  .icon-huancunjiankong:before {
    content: "\e62e";
  }
  
  .icon-iconfontwodea-copy:before {
    content: "\e602";
  }
  
  .icon-caozuo:before {
    content: "\e697";
  }
  
  .icon-caidan:before {
    content: "\e75c";
  }
  
  .icon-jichu:before {
    content: "\e718";
  }
  
  .icon-jiankongshexiangtou-xianxing:before {
    content: "\e659";
  }
  
  .icon-xitongguanli:before {
    content: "\e603";
  }
  
  .icon-xitong:before {
    content: "\e64b";
  }
  
  .icon-zhigong:before {
    content: "\e647";
  }
  
  .icon-nenghao:before {
    content: "\e60d";
  }
  
  .icon-ArtboardCopy:before {
    content: "\e658";
  }
  
  .icon-icon-pingjia:before {
    content: "\e6f5";
  }
  
  .icon-qiyeguanli:before {
    content: "\e605";
  }
  
  .icon-dianchishuju:before {
    content: "\e63d";
  }
  
  .icon-jiqiren:before {
    content: "\e7dc";
  }
  
  .icon-cheliangdangan:before {
    content: "\e6a9";
  }
  
  .icon-zhangwu:before {
    content: "\e615";
  }
  
  .icon-yonghu:before {
    content: "\e609";
  }
  
  .icon-tongjibaobiao:before {
    content: "\e6b6";
  }
  
  .icon-gaojing:before {
    content: "\eb02";
  }
  
  .icon-qiye:before {
    content: "\e69e";
  }
  
  .icon-zhangdan:before {
    content: "\e645";
  }
  
  .icon-qiyeguanliyuan:before {
    content: "\e656";
  }
  
  .icon-zuzhijigou:before {
    content: "\e610";
  }
  
  .icon-shebei:before {
    content: "\e617";
  }
  
  .icon-shujufenxi:before {
    content: "\e619";
  }
  
  .icon-chongzhi:before {
    content: "\e60a";
  }
  
  .icon-rizhi:before {
    content: "\e628";
  }
  
  .icon-cheliangshujufenxi:before {
    content: "\e601";
  }
  
  .icon-jiaose:before {
    content: "\e60b";
  }
  
  .icon-changshang:before {
    content: "\e600";
  }
  
  .icon-chongdianzhuang1:before {
    content: "\e635";
  }
  
  .icon-chongdianka:before {
    content: "\e6b4";
  }
  
  .icon-wangdian:before {
    content: "\e627";
  }
  
  .icon-cheliangshu:before {
    content: "\e6df";
  }
  
  .icon-zichanguanli:before {
    content: "\e61f";
  }
  
  .icon-hehuoren:before {
    content: "\e7fa";
  }
  
  .icon-zifeiguanli:before {
    content: "\e607";
  }
  
  .icon-jiqiren1:before {
    content: "\e924";
  }
  
  .icon-weixiubaoyang:before {
    content: "\e64a";
  }
  
  .icon-baimingdan:before {
    content: "\e63c";
  }
  
  .icon-qiyeguanli1:before {
    content: "\e633";
  }
  
  .icon-mima:before {
    content: "\ed71";
  }
  
  .icon-gaojingshujucunchuheweihu:before {
    content: "\e687";
  }
  
  .icon-peizhi:before {
    content: "\e999";
  }
  
  .icon-gaojing1:before {
    content: "\e74e";
  }
  
  .icon-shitu:before {
    content: "\e78f";
  }
  
  .icon-a-weibiaoti-1_huaban1fuben:before {
    content: "\e6e9";
  }
  
  .icon-lajizhihuitiaodu:before {
    content: "\e660";
  }
  
  .icon-chongdianzhuang:before {
    content: "\e611";
  }
  
  .icon-daochu:before {
    content: "\e79f";
  }
  
  .icon-yuanchengkongzhi:before {
    content: "\e682";
  }
  
  .icon-pingtaiguanli:before {
    content: "\e223";
  }
  